<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Registration Form</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script async="defer"
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDqqBHsIHDsdQbkGI7SiXC-YXyevoGCgCE&callback=initialize">
        </script>
        <script type="text/javascript" >

            window.onload = getLocation;

            var geo = navigator.geolocation;     /*     Here we will check if the browser supports the Geolocation API; if exists, then we will display the location     */

            function getLocation() {
                if (geo) {
                    geo.getCurrentPosition(displayLocation);
                } else {
                    alert("Oops, Geolocation API is not supported");
                }
            }

            /*     This function displays the latitude and longitude when the browser has a location.     */

            function displayLocation(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
                //var div = document.getElementById( 'location' );
                // div.innerHTML = "You are at Latitude: " + latitude + ", Longitude: " + longitude;
            }
        </script>

    </head>
    <body>


        <!-- Geo Location start 

        <script>
            var x = document.getElementById("geoLocation");

            function getLocation() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
            }
            }

            function showPosition(position) {
            alert ("Latitude and Longitude are " + position.coords.latitude + " & " + position.coords.longitude)
            document.getElementById('latitude').value =  position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
            }
        </script>
        -->


        <!-- Geo Location End -->

        <form th:action="@{/}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" action="#" th:action="@{/registration}"
                          th:object="${user}" method="post" class="form-horizontal"
                          role="form">
                        <h2>Registration Form</h2>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{name}" placeholder="Name"
                                       class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Last Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{email}" placeholder="Email"
                                       class="form-control" /> <label
                                       th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                       class="validation-message"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{mobile}" placeholder="Mobile"
                                       class="form-control" /> <label
                                       th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"
                                       class="validation-message"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="password" th:field="*{password}"
                                       placeholder="Password" class="form-control" /> <label
                                       th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{latitude}" placeholder="Latitude"
                                       class="form-control" /> <label
                                       th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{longitude}" placeholder="Longitude"
                                       class="form-control" /> <label
                                       th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block" >Register User</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>

    </body>
</html>